.auth-page {
  height: 100vh;
  background: no-repeat
    url("../../../image/pexels-eberhard-grossgasteiger-518485.jpeg");
    background-size: cover;
}
.auth-form{
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;flex-direction: column;
}
